<mat-toolbar class="flex-row flex-space-between display-flex position-fixed-top-left">
  <div class="router-links">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/items">Items</a>
    <a mat-button routerLink="/recipes">Recipes</a>
    <a mat-button routerLink="/add-recipe">Add recipe</a>
  </div>
  <div *ngIf="today" style="font-size: 14px; color: white" class="display-flex flex-row today-calories">
    <div><strong>{{todaysDate}}</strong></div>
    <div>{{today.calories}} kcal</div>
    <div>{{today.protein}} protein</div>
    <div>{{today.fat}} fat</div>
    <div>{{today.carbohydrates}} carbs</div>
  </div>

<!--  &lt;!&ndash; Menu for additional options &ndash;&gt;-->
<!--  <button mat-button [matMenuTriggerFor]="menu">More</button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item routerLink="/services">Services</button>-->
<!--    <button mat-menu-item routerLink="/team">Team</button>-->
<!--    <button mat-menu-item routerLink="/faq">FAQ</button>-->
<!--  </mat-menu>-->
</mat-toolbar>

<router-outlet></router-outlet>
